<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="galvan.pokerchips">

    <uses-permission android:name="android.permission.CAMERA" />

    <!-- permiso para usar la camara -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:screenOrientation="reverseLandscape">
            // NECESARIO PARA MODO SOLO HORIZONTAL
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".JoinGameActivity"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".ModeGameActivity"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".PlayersListActivity"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".SetGameActivity"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".ShowCodeActivity"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".WaitActivity"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".SingleDeviceGameActivity"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".WaitActivity2"
            android:screenOrientation="reverseLandscape" />
        <activity
            android:name=".WaitActivity3"
            android:screenOrientation="reverseLandscape" />

        <activity android:name=".ScanQRActivity"
            android:screenOrientation="reverseLandscape" ></activity>
    </application>

</manifest>